<html>
    <head>
        <title>
            reg form of {{request.session.username}}
        </title>
    </head>
    <body>
        <form method='POST' action="{% url 'regdata' %}">
            {% csrf_token %}
        <lable>Name</lable>
        <input type='text' name="na"><br>
        <lable>age</lable>
        <input type='number' name="age"><br>
        <lable>Email</lable>
        <input type='email' name="email"><br>
        <button type="submit">SUBMIT</button>
            </form>
    </body>

</html>
